.fundo{   
   
  background: url('../outros/fundo.png')   fixed;
   
}

.navbar{
    margin: 0px 0px;
    position: fixed;
    width: 100%;
    background-color: red;
    z-index:2;
}
.container{
    background: white;
}
.divisao{
    background-color: red;
    
}
li.nav-item{
    font-size: 20px;
    
}
li.nav-item:hover{
   text-transform: uppercase;
   
}
.caixa{
    width: 100%;
}
.table{
    width: 100%;
}